.competition-form {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: #333;
    height: 100vh; /* Full viewport height */
    margin: 0;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background: url('../../assets/benoni-country-club.jpg') no-repeat center center/cover;
  }
  
  .form-container {
    background-color: white; /* White background for the form */
    padding: 30px;
    border-radius: 12px; /* Rounded corners */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center all child elements */
  }
  
  .competition-header {
    color: black;
    padding: 20px;
    font-size: 2rem;
  }
  
  .question-section,
  .score-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    width: 100%; /* Ensure they take the full width of the form */
  }
  
  button {
    background-color: #e4002b;
    color: white;
    font-size: 1.5rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 10px 20px;
    width: 50%; /* Make buttons a bit more centered */
    margin: 10px auto; /* Center the buttons horizontally */
  }
  
  button:hover {
    background-color: #b00022;
  }
  
  input[type="number"] {
    font-size: 1.5rem;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin-top: 10px;
    text-align: center;
    width: 50%; /* Adjust as needed to keep input centered */
    margin: 10px auto; /* Center the input horizontally */
  }
  
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Remove spinners for Chrome and Safari */
    margin: 0;
  }
  
  .date-picker {
    width: 100%;
    margin: 20px auto;
    font-size: 1.2rem;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    input {
      width: 70%;
    }
  
    button {
      width: 70%; /* Make buttons more responsive */
    }
  }
  
  @media (max-width: 480px) {
    input {
      width: 90%;
    }
  
    button {
      width: 90%; /* Make buttons fill most of the screen on small devices */
    }
  }
  